.popup {
    background-color: rgba($color-black, .8);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;

    &__content {
        @include absCenter;
        background-color: $color-white;
        height: 70%;
        width: 70%;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
    }
}